@import "tailwindcss";

:root {
  --bg-gradient: linear-gradient(135deg, #0b011d 0%, #15003b 50%, #1d000a 100%);
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-gradient);
  background-attachment: fixed;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  color: white;
  min-height: 100vh;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
